/* CSS reset */

*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
        scroll-behavior: smooth;
    }
}

body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea, select {
    font: inherit;
}


p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

button, a {
    cursor: pointer;
}

/* EmpireCraft Styles */

#main {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

header {
    background-color: #1d1d1d;
    height: 25vh;
    max-height: 120px;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    top: 0;
    font-weight: bold;
}

body {
    background-color: #080808;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
}

.small-logo {
    width: 100px;
    border: 1px solid black;
}

.small-logo-container {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 10vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: calc(80vw - 100px);
}

nav a, footer a {
    text-decoration: none;
}

a {
    color: #ce08fa;
}

footer a:hover {
    text-decoration: underline;
}

.realm-code a {
    text-decoration: underline;
}

.realm-code a:hover, .realm-code a:active {
    color: #e17dfa;
}

h1, h2 {
    margin-top: 40px;
    margin-bottom: 15px;
}

.correcter {
    height: 120px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p, a {
    font-size: 1.2rem;
}

.link-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
}

.dc-link {
    width: 150px;
    border-radius: 8%;
}

.dc, .realm-code {
    margin-top: 30px;
    margin-bottom: 15px;
}

.dc p {
    margin-bottom: 5px;
}

nav button {
    border-radius: 0%;
    background: none;
    width: 35px;
    border: none;
    flex-shrink: 0;
}

@media screen and (width <= 450px) {
    .small-logo {
        width: 80px;
    }
    .small-logo-container {
        margin-left: 2vw;
        margin-right: 0;
    }
    nav {
        justify-content: space-between;
    }
    header {
        justify-content: space-around;
    }
    nav a:first-of-type {
        position: relative;
        right: 15px;
        margin-right: 4px;
    }
    nav button {
        width: 30px;
    }
}

.img-grid img {
    height: 200px;
}

.img-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
    margin-top: 20px;
}

footer {
    height: 100px;
    background-color: #1d1d1d;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text-links, .icon-links {
    display: flex;
    justify-content: space-evenly;
}